<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
	
	<!-- Option 1: Using profiles -->
	<profiles>
		<profile>
			<id>internal-nexus</id>
		
		    <repositories>
          <repository>
             <id>internal-repository</id>
             <url>http://localhost:8081/nexus/content/groups/public</url>
             <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          </repository>
       </repositories>

       <pluginRepositories>
          <pluginRepository>
             <id>internal-plugin-repository</id>
             <url>http://localhost:8081/nexus/content/groups/public</url>
             <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          </pluginRepository>
       </pluginRepositories>

		</profile>
	</profiles>
	

  <activeProfiles>
    <activeProfile>internal-nexus</activeProfile>
  </activeProfiles>
	
	<!-- Option 2: Mirroring -->
	<!--mirrors>
		<mirror>
			<id>internal-repository</id>
			<url>http://localhost:8081/nexus/content/groups/public</url>
			<mirrorOf>*</mirrorOf>
		</mirror>
	</mirrors-->
	
</settings>